{% extends "error_base.html.jinja2" %}

{% block body_attrs %}class="danger"{% endblock %}

{% block content %}
    <header>
      <div class='icon danger'></div>
      <h1>Deceptive site ahead</h1>
    </header>
    <article>
      <p>
        This site is not available through Hypothesis as it has
        been blocked for hosting potentially <strong>harmful</strong> content.
      </p>
      <p>
        <strong>Attackers</strong> on the site may trick you into doing
        something <strong>dangerous</strong> like installing software
        or revealing your personal information (for example, passwords,
        phone numbers or credit cards).
      </p>
      {# Do what we can to prevent the user from selecting the text #}
      <p
        style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;"
        unselectable="on"
        onselectstart="return false;"
        onmousedown="return false;"
      >
        Original URL: {{ url_to_annotate }}
      </p>
    </article>
{% endblock %}
